/*----- RESET -----*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---- GENERAL -----*/
body{
    height: 100vh;
}

.container-body{
    display: flex;
    height:calc( 100% - 100px); 
}
.img-fluid{
    max-width: 100%;
}

ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/*---- BUTTONS -----*/

.btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 12px;
}
.btn:hover{
    padding: 14px 36px;
}

/*---- TYPHOGRAPHY -----*/

body{
    font-family: "Open Sans", sans-serif;
}
header{
    font-size: 12px;
}
h2{
    color: white;
    padding: 10px 0;
}
.main-bottom{
    padding: 20px;
}
footer{
    font-size: 14px;
}
.icon{
    color: #808080;
}
/*-----HEADER-----*/

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50px;
    background-color: #000;
    flex-shrink: 0;
    color: #808080;
    text-align: center;
    overflow-y: auto;
}

.header-top img:not(.hide-logo){
    height: 24px;
    margin-bottom: 8px;
    margin-left: auto;
    vertical-align: middle;
    opacity: 0.4;
}
.header-nav li:hover img:not(.hide-logo){
    opacity: 1;
}
.header-top:not(:first-child){
    margin-top: 10px;
}
h4 i{
    background-color: #a3a3a3;
    height: 30px;
    width: 30px;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
h4{
    display: inline-block;
}
header span{
    padding-left: 5px;
}
.header-top ul{
    margin-top: 10px;
}
header h3{
    color: white;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header-playlist >*{
    padding-left: 18px;
}
.header-playlist ul li{
    padding: 8px 0;
}
.header-bottom i{
    font-size: 10px;
    margin-bottom: 10px;
    border: 1px solid #808080;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    text-align: center;
}
.header-bottom .app:hover i{
    border: 1px solid white;
}
.profile-img{
    background-color: #808080;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    vertical-align: middle;
}
.profile{
    padding: 10px;
    color: white;
}
.logo .hide-logo:last-child {
    display: none;
}
.hide-logo{
    height: 24px;
    margin-bottom: 10px;
    margin-left: auto;
}
.hide{
    display: none;
}
.header-playlist ul{
    overflow-y: auto;
    height: 40%;
}

/*-----MAIN-----*/
main{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
}
.main-top{
    height: 80px;
    background-color: #080b12;
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
    text-align: right;
}

.main-top .btn{
    text-align: right;
    margin-top: 20px;
}
.info .row{
    justify-content: center;
}
.main-bottom li{
    padding-bottom: 20px;
}
.main-bottom a{
    text-decoration: none;
    color: #808080;
    font-weight: 400;
    font-size: 14px;
    padding:24px;
}
.decoration{
    border-bottom: 2px solid #adff2f;
    width: 20%;
    margin: auto;
}
.played h3{
    color: white;
    font-size: 16px;
    padding-top: 4px;
}
.played h5{
    color: #808080;
    font-size: 12px;
    padding-top: 4px;
}
main .col{
    text-align: center;
    width: calc(100% / 2);
    padding: 4px;
}

.album-details{
    padding: 4px;
}
.album{
    text-align: center;
}
.album-img{
    position: relative;
}
/*-----HOVER TESTO-----*/
.header-nav li:hover,
.header-playlist li:hover,
.header-playlist h4:hover,
.app:hover,
main a:hover,
.col-wrap .icon:hover{
    color: white;
    cursor: pointer;
}

.header-playlist h4:hover i{
    background-color: white;
}
.footer-album h6:hover{
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.footer-video i{
    cursor: pointer;
}
.footer-video span:nth-child(3) i:hover{
    font-size: 34px;
}
.video{
    cursor: pointer;
}
.video:hover .video-small{
    background-color: #adff2f;
}
.orb{
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: white;
    display: none;
}
.video:hover .orb{
    display: block;
}

/*-----HOVER ALBUM-----*/

.album-img:hover .album-overlay{
    display: block;
}
.album-overlay{
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}
.album-img:hover i{
    display: block;
}
.album-overlay i{
    display: none;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.primary{
    display: block;
}
/*----CIRCLE-----*/
.circle{
    border-radius: 100%;
    overflow: hidden;
}
/*-----FOOTER-----*/
footer{
    height: 100px;
    background-color: #282828;
    padding: 30px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-album, .footer-vocal{
    width: 25%;
} 
.footer-video{
    width: 50%;;
}
.album-footer{
    height: 36px;
}
footer .col{
    display: flex;
    gap:10px;
    align-items: center;
}
.col-wrap{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 0 10px;
}
.footer-center{
    width: 100%;
    text-align: center;
}
.col-wrap i{
    padding-right: 10px;
}
.footer-center span:not(:nth-child(3)) i{
    font-size: 18px;
}
.footer-center span:nth-child(3) i{
    font-size: 30px;
}
.footer-center i{
    padding-right: 18px;
    vertical-align: middle;
    padding-bottom: 5px;
}
footer h6{
    color: #808080;
}
.video{
    height: 4px;
    border-radius: 20px;
}
.video-big{
    background-color: #5a5a5a;
    width: 100%;
}
.video-small{
    background-color: #c1c1c1;
    width: 20%;
}
.col .footer-center span{
    width: 20%;
}
.footer-vocal span{
    width: 5%;
    padding-right: 14px;
}
.footer-vocal{
    padding-left: 20px;
}
.video-small{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
/*---RESPONSIVE-----*/

/*---SMALL-----*/

@media screen and (min-width:619px) {
    header{
        width: 230px;
        text-align: left;
    }
    .hide-logo{
        height: 40px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .logo .hide-logo:last-child {
        display: inline;
        margin-top: 20px;
    }
    .logo .hide-logo:first-child {
        display: none;
    }
    .hide{
        display: inline;
    }
    .header-nav li{
        padding-left: 18px;
        border-left: 2px solid transparent;
    }
    .header-nav li:first-child{
        border-color: #adff2f;
    }
    .profile{
        border-top: 1px solid #808080;
        padding: 10px 0 10px 18px;
    }    
    .app{
        padding-left: 18px;
    }
}

/*---MEDIUM-----*/

@media screen and (min-width:898px){
    main .col{
        width: calc(100% / 4);
    }
}

/*---LARGE-----*/

@media screen and (min-width:1222px){
    main .col{
        width: calc(100% / 6);
    }
}