/*----- RESET -----*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---- GENERAL -----*/
body{
    height: 100vh;
}
.container-body{
    display: flex;
    height:calc( 100% - 6.25rem); 
}
.img-fluid{
    max-width: 100%;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/*---- BUTTONS -----*/

.btn{
    background-color: transparent;
    border: .0625rem solid white;
    color: white;
    border-radius: 3.125rem;
    padding: .625rem 1.875rem;
    cursor: pointer;
    font-size: .75rem;
}
.btn:hover{
    padding: .875rem 2.25rem;
}
.btn-header{
    background-color: #a3a3a3;
    border: none;
    padding: .375rem .5rem;
    font-size: 1.125rem;
}

/*---- TYPHOGRAPHY -----*/

body{
    font-family: "Figtree", sans-serif;
}
header{
    font-size: .75rem;
}
h2{
    color: white;
    padding: .625rem 0;
}
header h3{
    font-size: .875rem; 
}
.main-bottom{
    padding: 1.25rem;
}
footer{
    font-size: .875rem;
}
.icon{
    color: #808080;
}
/*-----HEADER-----*/

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width:3.125rem;
    background-color: #000;
    flex-shrink: 0;
    color: #808080;
    text-align: center;
    overflow-y: auto;
}
.header-top:not(:first-child){
    margin-top: .625rem;
}
.hide-logo{
    height: 1.5rem;
    margin-top: .3125rem;
}
.hide{
    display: none;
}
.header-top{
    flex-grow: 1;
}
.header-top img:not(.hide-logo){
    height: 1.5rem;
    margin-bottom: .5rem;
    vertical-align: middle;
}
.header-nav li:not(:first-child) img{
    opacity: 0.4;
}
.header-nav li:hover img:not(.hide-logo){
    opacity: 1;
}
.header-nav li:first-child{
    color: white;
}
header span{
    padding-left: .3125rem;
}
.header-top ul{
    margin-top: .625rem;
}
header h3{
    color: white;
    margin-top: 1.25rem;
    margin-bottom: .625rem;    
}
.header-playlist >*{
    padding-left: 1.25rem;
}
.header-playlist ul li{
    padding: .5rem 0;
}
.header-playlist ul{
    overflow-y: auto;
    height: 40%;
}
.header-bottom .app i{
    font-size: .625rem;
    margin-bottom: .625rem;
    border: .0625rem solid #808080;
    height: .75rem;
    width: .75rem;
    border-radius: 100%;
    text-align: center;
}
.header-bottom .app:hover i{
    border: .0625rem solid white;
}
.profile{
    padding: .625rem;
    color: white;
}
.profile-img{
    background-color: #808080;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3.125rem;
    vertical-align: middle;
}

/*-----MAIN-----*/
main{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
    color: #808080;
}
.main-top{
    min-height: 5rem;
    background-color: #080b12;
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
    text-align: right;
}
.main-top .btn{
    margin-top: 1.25rem;
}
.main-bottom .info .row{
    justify-content: center;
}
.main-bottom li{
    padding-bottom: 1.25rem;
}
.main-bottom a{
    text-decoration: none;
    color: #808080;
    font-weight: 600;
    font-size: .875rem;
    padding:1.5rem;
}
.decoration{
    border-bottom: .125rem solid #adff2f;
    width: 20%;
    margin: auto;
}
.played h3{
    color: white;
    font-size: 1rem;
    padding-top: .25rem;
}
.played h5{
    font-size: .75rem;
    padding-top: .25rem;
}
main .col{
    text-align: center;
    width: calc(100% / 2);
    padding: .25rem;
}
.album-details{
    padding: .25rem;
}
.album{
    text-align: center;
}
.album-img{
    position: relative;
}
/*-----FOOTER-----*/
footer{
    min-height: 6.25rem;
    background-color: #282828;
    padding: 1.875rem .625rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-album, .footer-vocal{
    width: 25%;
} 
.footer-video{
    width: 50%;;
}
footer .col{
    display: flex;
    gap:.625rem;
    align-items: center;
}
.footer-sinister{
    height: 2.25rem;
}
footer h6{
    color: #808080;
}
.col-wrap{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 0 .625rem;
}
.footer-album .col-wrap i{
    padding-right: .625rem;
}
.footer-center{
    width: 100%;
    text-align: center;
}
.footer-center span:not(:nth-child(3)) i{
    font-size: 1.125rem;
}
.footer-center span:nth-child(3) i{
    font-size: 1.875rem;
}
.footer-center i{
    padding-right: 1.125rem;
    vertical-align: middle;
    padding-bottom: .3125rem;
}
.video{
    height: .25rem;
    border-radius: 1.25rem;
    background-color: #5a5a5a;
}
.footer-video .video-big{
    width: 100%;
}
.footer-vocal .video-big{
    width: 50%;
}
.video-small{
    background-color: #c1c1c1;
    width: 20%;
}
.footer-center .video-small{
    width: 20%;
}
.footer-vocal .video-small{
    width: 30%;
}
.footer-vocal{
    padding-left: .625rem;
    justify-content: right;
}
.video-small{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/*-----HOVER TESTO-----*/
.header-nav li:hover,
.header-playlist li:hover,
.header-playlist h4:hover,
.app:hover,
main a:hover,
.col-wrap .icon:hover{
    color: white;
    cursor: pointer;
}
.header-playlist h4:hover .btn-header{
    background-color: white;
    cursor: pointer;
}
.footer-album h6:hover{
    color: white;
    border-bottom: .0625rem solid white;
    cursor: pointer;
}
.footer-video i,
.video {
    cursor: pointer;
}
.footer-video span:nth-child(3) i:hover{
    font-size: 2.125rem;
}
.video:hover .video-small{
    background-color: #adff2f;
}
.orb{
    height: .875rem;
    width: .875rem;
    border-radius: 100%;
    background-color: white;
    display: none;
}
.video:hover .orb{
    display: block;
}

/*-----HOVER ALBUM-----*/

.album-img:hover .album-overlay{
    display: block;
}
.album-overlay{
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    position: absolute;
}
.album-img:hover i{
    display: block;
}
.album-overlay i{
    display: none;
    color: white;
    font-size: 3.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.primary{
    display: block;
}
/*----CIRCLE-----*/
.circle{
    border-radius: 100%;
    overflow: hidden;
}
/*---RESPONSIVE-----*/

/*---SMALL-----*/

@media screen and (min-width:38.6875rem) {
    header{
        width: 14.375rem;
        text-align: left;
    }
    .hide-logo{
        height: 2.5rem;
        margin-bottom: 1.25rem;
        margin-left: 1.25rem;
        margin-top: 1.25rem;
    }
    .logo .hide-logo:last-child {
        display: inline;
    }
    .logo .hide-logo:first-child {
        display: none;
    }
    .hide{
        display: inline;
    }
    .header-nav li{
        padding-left: 1.125rem;
        border-left: .125rem solid transparent;
    }
    .header-nav li:first-child{
        border-color: #adff2f;
    }
    .profile{
        border-top: .0625rem solid #808080;
        padding:.625rem 0;
        margin: 0 1.25rem;
    }    
    .app{
        padding-left: 1.25rem;
    }
}

/*---MEDIUM-----*/

@media screen and (min-width:56.125rem){
    main .col{
        width: calc(100% / 4);
    }
}

/*---LARGE-----*/

@media screen and (min-width:76.375rem){
    main .col{
        width: calc(100% / 6);
    }
}